<!-- wp:template-part {"slug":"header","theme":"caledros-basic-theme","tagName":"header"} /-->

<!-- wp:caledros-basic-blocks/flex-container {"containerPadding":{"top":"30px","right":"0px","bottom":"30px","left":"0px","differentPaddingsEnabled":true,"useGlobalPadding":false},"containerFlexDirection":{"desktop":"column","tablet":"column","mobile":"column"},"containerJustifyContent":"center","containerAlignItems":"center","containerRowGap":"0px"} -->
<div class="cbb-flex-container" style="max-width:100%;width:100%;margin:0px;padding:30px 0px 30px 0px;justify-content:center;align-items:center;min-height:auto;row-gap:0px;--cbb-fdir-lg:column;--cbb-fdir-md:column;--cbb-fdir-sm:column"><!-- wp:heading {"level":1} -->
<h1 class="wp-block-heading">Not found</h1>
<!-- /wp:heading -->

<!-- wp:paragraph {"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|40"}}}} -->
<p style="margin-bottom:var(--wp--preset--spacing--40)">This is not the page you're looking for</p>
<!-- /wp:paragraph -->

<!-- wp:pattern {"slug":"caledros-basic-theme/demo-404"} /-->

</div>
<!-- /wp:caledros-basic-blocks/flex-container -->

<!-- wp:template-part {"slug":"footer","theme":"caledros-basic-theme","tagName":"footer"} /-->
