<!-- wp:template-part {"slug":"header","theme":"caledros-basic-theme","tagName":"header"} /-->
<!-- wp:caledros-basic-blocks/flex-container {"containerFlexDirection":{"desktop":"column","tablet":"column","mobile":"column"},"containerJustifyContent":"center","containerAlignItems":"center"} -->
<div class="cbb-flex-container" style="max-width:100%;width:100%;margin:0px;padding:0px;justify-content:center;align-items:center;min-height:auto;--cbb-fdir-lg:column;--cbb-fdir-md:column;--cbb-fdir-sm:column"><!-- wp:caledros-basic-blocks/flex-container {"containerFlexDirection":{"desktop":"column","tablet":"column","mobile":"column"},"containerAlignItems":"center"} -->
<div class="cbb-flex-container" style="max-width:100%;width:100%;margin:0px;padding:0px;align-items:center;min-height:auto;--cbb-fdir-lg:column;--cbb-fdir-md:column;--cbb-fdir-sm:column"><!-- wp:caledros-basic-blocks/content-renderer /--></div>
<!-- /wp:caledros-basic-blocks/flex-container --></div>
<!-- /wp:caledros-basic-blocks/flex-container -->
<!-- wp:template-part {"slug":"footer","theme":"caledros-basic-theme","tagName":"footer"} /-->